{
	"version": "1",
	"hosts": {
		"minio": {
		    "alias": "s3://minio",
			"backend": "slS3Backend",
			"url": "http://130.246.129.81:9000",
			"required_credentials": {
				"access_key": "WTL17W3P2K3C7IYVX4W9",
				"secret_key": "VUcT86fJFF0XTPtcrsnjUnvtM7Wj1N3cb9mALRZ9"
			},
			"object_size": "128MB",
			"read_connections": "4",
			"write_connections": "4",
			"api": "S3v4"
		},
		"vagrant_ftp": {
		    "alias": "ftp://vagrant",
			"backend": "slFTPBackend",
			"url": "192.168.51.21",
			"required_credentials": {
				"user": "nrmassey",
				"password": "password",
				"account": ""
			},
			"object_size": "128MB",
			"read_connections": "4",
			"write_connections": "4",
			"api": "FTP"
		},
		"posix_file": {
			"alias": "/Users",
			"backend": "slFileBackend",
			"url": "/Users",
			"required_credentials": {
			},
			"object_size": "128MB",
			"read_connections": "4",
			"write_connections": "4",
			"api": "POSIX"

		}
	},
	"cache": {
		"location": "/Users/dhk63261/cache",
		"cache_size": "128MB"
	},
	"system": {
		"max_object_size_for_memory": "2048MB",
		"default_object_size" : "256MB"
	}
}
